<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Editing <%=golf.course %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Update <%=golf.course %></h1>
    <div class="edit-body">
    <form
    action="/users/<%= user._id %>/golfs/<%= golf._id %>?_method=PUT"
    method="POST"
  >
  <label for="date">Date Played:</label>
  <input type="date" name="date" id="date" required 
  value="<%= golf.date ? new Date(golf.date).toISOString().split('T')[0] : '' %>">
  
    <label for="course">Course:</label>
    <input type="text" name="course" id="course" value="<%=golf.course %>"/>
  
    <label for="score">Score:</label>
    <input type="number" name="score" id="score" value="<%=golf.score %>"/>

    <label for="holes">Holes Played:</label>
    <input type="number" name="holes" id="holes" value="<%=golf.holes %>"/>
  
    <label for="notes">Notes:</label>
    <textarea name="notes" id="notes"><%=golf.notes%></textarea>

  <div>
    <label for="difficulty">Difficulty:</label>
    <select id="difficulty" name="difficulty">
      <option value="none"
      <%= golf.difficulty === "none" ? "selected" : ""  %>
      > None</option>

      <option value="easy"
      <%= golf.difficulty === "easy" ? "selected" : "" %>
       >Easy</option>

      <option value="medium" <%= golf.difficulty === "medium" ? "selected" : "" %>
       >Medium</option>

      <option value="hard" <%= golf.difficulty === "hard" ? "selected" : "" %>
        >Hard</option>

      <option value="never again" <%= golf.difficulty === "Never Again" ? "selected" : "" %>
        >Never Again!</option>
    </select>

  </div>
    <button type="submit">Update Game</button>
  </form>
</div>
  </body>
</html>
