<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Posts</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %> 
    <div class="all-golfs-body">
      <div class="all-golfs-header">
    <h1>My Posts</h1>
    <a  class="add-golf-link" href="/users/<%= user._id%>/golfs/new">Add a Game</a>
  </div>
    <ul>
      <% golfs.forEach((golf)=>{ %>
      <li>
        <a href="/users/<%= user._id %>/golfs/<%= golf._id %>">
        <%= golf.course%>
        </a>
      </li>
      <% }) %>
    </ul>
  </div>
  </body>
</html>
