<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Golf Game: <%= golf.course %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <% if (golf.course) { %>
      <h1>Game: <%= golf.course %></h1>
    <% } %>
    <p>Holes Played: <%= golf.holes %></p>
    <% if (golf.score) { %>
      <p>Score: <%= golf.score %></p>
    <% } %>
    <p>Difficulty: <%= golf.difficulty %></p>
    <p>Notes: <%= golf.notes %></p>
    <a href="/users/<%= user._id %>/golfs/<%= golf._id %>/edit">
        Edit this Game
      </a>
    <form
    action="/users/<%= user._id %>/golfs/<%= golf._id %>?_method=DELETE"
    method="POST">
    <button type="submit">Delete this Game</button>
  </form>
  </body>
</html>
