<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title>Golf Game: <%= golf.course %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="show-body">
      <div class="show-header">
        <h1>Golf Course: <%= golf.course %></h1>
      </div>
      <div class="game-details">
          <p>Date: <%= new Date(golf.date).toISOString().split('T')[0] %></p>
        <% if (golf.score) { %>
          <p><strong>Score:</strong> <%= golf.score %></p>
        <% } %>

        <% if (golf.holes) { %>
          <p><strong>Holes Played:</strong> <%= golf.holes %></p>
        <% } %>

        <% if (golf.difficulty && golf.difficulty !== 'none') { %>
          <p><strong>Difficulty:</strong> <%= golf.difficulty %></p>
        <% } %>

        <% if (golf.notes) { %>
          <div class="show-notes">
            <h2>Notes:</h2>
            <p><%= golf.notes %></p>
          </div>
        <% } %>
      </div>

      <div class="show-actions">
        <a href="/users/<%= user._id %>/golfs/<%= golf._id %>/edit">Edit this Game</a>
        <form action="/users/<%= user._id %>/golfs/<%= golf._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete this Game</button>
        </form>
      </div>
    </div>
  </body>
</html>

