<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Golf Game at <%= golf.course %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    
    <% if (golf.course) { %>
      <h1>Game: <%= golf.course %></h1>
    <% } %>
    
    <% if (golf.holes) { %>
      <p>Holes Played: <%= golf.holes %></p>
    <% } %>
    
    <% if (golf.score) { %>
      <p>Score: <%= golf.score %></p>
    <% } %>
    
    <% if (golf.difficulty && golf.difficulty !== 'none') { %>
      <p>Difficulty: <%= golf.difficulty %></p>
    <% } %>
      
    <% if (golf.notes && golf.notes !== 'none') { %>
      <p>Notes: <%= golf.notes %></p>
    <% } %>

    <a href="/users/<%= user._id %>">Back to <%= user.username %>'s Games</a>
  </body>
</html>
