<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Game stuff</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= user.username %>'s Game</h1>

    <% if (golfs && golfs.length > 0) { %>
        <ul>
            <% golfs.forEach(golf => { %>
                <li>
                    <a href="/users/<%=user.id%>/golfs/community/<%=user.id%>/<%=golf.id%>"><%= golf.course %></a>
                </li> 
            <% }) %>
        </ul>
    <% } else { %>
        <p>No Gamea Played Yet </p>
    <% } %>
    <a href="/">Back to My Games</a>
  </body>
</html>